// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$primary-50: #FEF7F6;
$primary-100: #FDF0ED;
$primary-200: #FAD9D1;
$primary-300: #F7C2B6;
$primary-400: #F0957F;
$primary-500: #EA6748;
$primary-600: #D35D41;
$primary-700: #8C3E2B;
$primary-800: #692E20;
$primary-900: #461F16;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary-500, $primary-900),
  "primary-300": ($primary-300, $primary-900),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-weight: bold;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
}
h6 {
  font-size: 0.67em;
  font-weight: bold;
}

a {
  color: $primary-600;
  transition: all 0.24s ease;
  &:hover {
    color: $primary-900;
  }
}
