@font-face {
  font-family: Jost;
  font-weight: 500;
  src: url(../fonts/Jost-Regular.ttf);
}

@font-face {
  font-family: Jost;
  font-weight: 600;
  src: url(../fonts/Jost-Medium.ttf);
}

@font-face {
  font-family: Jost;
  font-weight: 700;
  src: url(../fonts/Jost-Bold.ttf);
}
