@import "fonts";

* {
  box-sizing: border-box;
}

body {
  font-family: Jost;
}

.token {
  &.number {
    margin: 0;
    padding: 0;
    height: unset;
    width: unset;
    min-height: unset;
    min-width: unset;
    font-size: inherit;
  }
}
h1,
h2,
h3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  a {
    margin-left: 8px;
    color: gray;
    opacity: 0;
    transition: opacity 0.24s ease;
    span {
      transform: scale(0.8);
    }
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
}

h4,
h5,
h6 {
  a {
    display: none;
  }
}

ul {
  list-style: disc;
  margin: 16px 0;
  padding-left: 40px;
}

pre.language-typescript {
  border-radius: 4px;
  font-size: 12px !important;
  margin: 8px 0 !important;
}
code {
  border-radius: 2px;
}
