.typ-h1 {
  font-size: 2.25em;
  font-weight: 700;
}

.typ-h2 {
  font-size: 1.75em;
  font-weight: 700;
}

.typ-h3 {
  font-size: 1.25em;
  font-weight: 500;
}

.typ-h4 {
  font-size: 1em;
  font-weight: 500;
}

.typ-body {
  font-size: 1em;
}
